[Unit]
Description=Yum db updater for Koozali SME Server
After=network-pre.target networking.service 

[Service]
Type=forking
SyslogIdentifier=dnf_update_dbs
ExecStartPre=/sbin/e-smith/service-status dnf
ExecStart=/sbin/e-smith/dnf_update_dbs
TimeoutSec=0
RemainAfterExit=yes

[Install]
WantedBy=sme-server.target
